account default
domain $MSMTP_DOMAIN
host $MSMTP_MAILHOST
port $MSMTP_PORT
tls on
tls_starttls on
#tls_trust_file /etc/ssl/certs/ca-certificates.crt
tls_certcheck on
auth on
user $MSMTP_USER
password $MSMTP_PASSWORD
from $MSMTP_USER
logfile /var/log/msmtp.log
